@charset "UTF-8";

*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
   padding: 0px;
  box-sizing: border-box;
}

body, html{
  background: url(../fotos/fundo.jpg) no-repeat top center/ cover;
  height: 100vw;
}
#container{
  width: 360px;
  margin: auto;
  margin-top: 10px;
}

#perfil img{
  display: block;
  margin: auto;
}

#perfil p{
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px;
}


ul{
  list-style-type: none;
}

ul> li> a{
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.150);
  
  text-align: center;
  margin: 5px 0px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.250);
}

li>a:hover{
  transform:translate(-1px, -1px);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.200);
  border: 1px solid rgba(0, 0, 0, 0.300);
}
#icons{
  display: flex;
  color: white;
  font-size: 1.5em;
  margin: auto;
  padding: 25px;
  gap: 50px;
  justify-content: center;
}

footer {
  color: white;
  font-size: 1.1em;
  text-align: right;
  padding: 25px;
}